/* Globais */

body {
  background: #e5e5e5;
  color: #24282b;
  font-family: 'Montserrat', sans-serif;

  margin: 0;
}

body.hideScroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ff5e84;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

p, .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1;
}

.button {
  background: #ff5e84;
  color: #ffffff;

  width: 130px;
  height: 40px;

  font-weight: bold;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  box-shadow: 0px 8px 16px #ff5e8455;

  transition: 400ms;
}

.button:hover {
  text-decoration: none;
  background: #0984e3;
  color: #fff;
}

/* Padrão */

#container {
  max-width: 980px;
  
  width: 80%;
  
  margin: 40px auto;

  display: flex;
}

#intro {
  width: 300px;
  margin-right: 40px;
}

main {
  margin: 32px 0;
}

#buttons {
  display: flex;

  margin-bottom: 25px;

  justify-content: space-evenly;
}

button {
  color: #ff5e84; 
  background: none; 
  
  border: none; 
  
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.2px;

  cursor: pointer;

  outline: none;
}

button:hover {
  text-decoration: underline;
}


.heart {
  color: #ff285a;
}

footer {
  text-align: center;
  font-size: 14px;
  font-weight: regular;
  line-height: 18px;
  letter-spacing: 0.2px;

  color: #777;
}

footer a {
  color: #24282b;
  text-decoration: none; /* decoração-do-texto: nada; */
  opacity: 0.8;
}

footer a:hover {
  color: #ff5e84;
  font-weight: bold;
}

.ideia {
  display: flex;

  background-color: #fff;
  box-shadow: 10px 10px 8px -8px #00000055;
  border-radius: 10px;
  
  padding: 25px;
  margin-bottom: 25px;
}

.ideia img {
  width: 60px;
  height: 60px;

  margin-right: 25px;
}

.ideia h3 {
  margin: 0;
}

.ideia p {
  margin: 8px 0;
  
  color: #777
}

.ideia .description {
  margin: 16px 0;
}

/* modal */

#modal {
  background: #ff5e84;
  color: #fff;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}

#modal.addScroll {
  overflow: auto;
}

#modal .content {
  margin-top: 2%;
  margin-bottom: 5%;

  color: #fff;
}

#modal .content h1 {
  text-align: center;

  text-transform: uppercase;
}

#modal form {
  width: 80%;

  max-width: 800px;

  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
  grid-column: span 2;
}

form input,
form textarea {
  width: 100%;

  padding: 12px;

  box-sizing: border-box;

  border-radius: 8px;
  border: 1px solid #fc436e55;

  outline: none;

  font-size: 16px;
}

form label {
  font-weight: 600;
  letter-spacing: 0.2;
}

form a {
  width: 130px;
  height: 40px;

  background: #ffffff22;
  color: #fff;
  border-radius: 8px;

  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  align-self: end;

  transition: 400ms;
}

form a:hover {
  background: #fff;
  color: #ff5e84;
  text-decoration: none;
}

form button {
  background: #fff;

  width: 130px;
  height: 40px;
  border-radius: 8px;

  margin-top: 20px;

  grid-column: 2;
  justify-self: end;

  transition: 400ms;
}

form button:hover {
  background: #0984e3;
  color: #fff;
  text-decoration: none;
}
#modal.hide {
  opacity: 0;
  visibility: hidden;
}

/* IDEIAS.HTML */

#page-ideias #container {
  display: block;
}

#page-ideias header {
  display: flex;
  justify-content: space-between;
}

#page-ideias nav {
  display: flex;

  align-items: center;
}

#page-ideias nav li {
  list-style: none;

  margin-right: 18px;
}

#page-ideias nav li a {
  color: #24282b;
  font-weight: bold;
  
  transition: 400ms;
}

#page-ideias nav li a.button {
  color: #fff;
}

#page-ideias nav li:last-child {
  margin-right: 0;
}

#page-ideias nav li:last-child a:hover {
  background-color: #0984e3;
  
  text-decoration: none;
}

section#title {
  text-align: center;
}

section#title p {
  opacity: 0.7;
  margin: 0;
}

section#title h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

section#ideias {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 20px;
}

section#ideias .ideia {
  margin: 0;
}

section#title,
section#ideias,
footer {
  margin-top: 64px;
}